.lead {
  padding-top: 56px;
  margin: auto;
  max-width: 984px;
}

.lead__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.lead__subtitle {
  font-family: Inter;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 32px 0 26px 0;
  
}

.lead__image {
  justify-self: center;
  object-fit: cover;
  width: 100%;
}

.lead__caption {
  font-family: Inter;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
}

/* @media screen and (max-width: 1279px) {
  .lead__image {
    width: 928px;
    height: 580px;
  }

  .lead__caption {
    margin-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    width: 768px;
    height: 480px;
  }

  .lead__caption {
    margin-left: 24px;
  }
} */

@media screen and (max-width: 767px) {
  .lead__title {
    font-family: Inter;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
  }

  .lead__subtitle {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }
}
