.footer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 48px;
}

.footer__links {
  display: flex;
  column-gap: 18px;
}

.footer__link {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
}

.footer__copyright {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 24px 48px 0 48px;
  }
} 

@media screen and (max-width: 830px) {
  .footer {
    padding: 0 24px ;
  }

  .footer__links {
    flex-direction: column;
    row-gap: 32px;
  }

  .footer__link {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 349px) {
  .footer {
    padding: 0 16px ;
    flex-direction: column;
  }

  .footer__links {
    flex-direction: column;
    row-gap: 32px;
  }

  .footer__link {
    margin-bottom: 32px;
  }

  .footer__copyright {
    margin-top: 48px;
  }
} 